body {
  max-width: 640px;
  margin: 0 auto;
  padding: 16px;
  line-hright: 1.6;
}
p {
  font-size: 0.9rem;
  font-family: "Yu Mincho", serif; /* 引用符で囲み、最後に予備のserifを添えるのが完璧な作法です */
}
h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}
